
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');

body{
    font-family: 
                    'Nunito Sans'
                    , Arial
                    ;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    color: white;
}

body *{
    box-sizing: border-box;
}

.section{
    max-width: 1440px;
    margin: 0 auto;
}

.container_nav{
    width: 1256px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    border-style: none;
}

input[type="button"]{
    outline: 0px;
    color: white;
    font-family: 'Nunito Sans';
    padding: 0;
        
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    outline: 0px;
    color: white;
    font-family: 'Nunito Sans';
    padding: 0;
        
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_style1{
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}
.button_border1{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0px;
}

.color_1{
    color: #E3B873;
}

.uc{
    text-transform: uppercase;
}

.title{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.subtitle{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
    color: #181818;
}

.rotate_180{
    transform: rotate(180deg);
}

.b_styled:hover {
    /* background-color: #E3B873cc; */
    opacity: 80%;
}

.b_styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*------------------------------------------------------------*/
/* Header */
/*------------------------------------------------------------*/
    header{
        background: #131313;
    }

    .container_header{
        height: 83px;
    }

    .logo{
        font-style: normal;
        width: 180px;
        /* color: #E3B873; */
    }

    /* .container_nav{
        margin: 0 0;
    } */

    .nav_main{
        width: 582px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }
        .nav_i a{
            text-decoration: none;
            color: white;
        }

        .nav_i_selected a{
            text-decoration: none;
            color: #E3B873;
        }

    .number{
        text-align: right;
        text-decoration-line: underline;
        width: 126px;
        /* color: #E3B873; */
    }

    .s0_button{
        width: 161px;
        height: 37px;
        /* padding: 13px 33px; */
    }
    
    .hidden{
        display:none;
    }
/*------------------------------------------------------------*/
/* footer */
/*------------------------------------------------------------*/
    footer{
        background: #131313;
    }

    .container_footer{
        height: 133px;
    }

/*------------------------------------------------------------*/
/* custom checkbox */
/*------------------------------------------------------------*/
.checkbox_container{
    display: block;
    position: relative;
    padding-left: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0;
        
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
}
/* Hide the browser's default checkbox */
    .checkbox_container input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
/* Create a custom checkbox */
    .checkbox_custom{
        position: absolute;
        height: 18px;
        width:  18px;
        top: 0;
        left: 0;
        background: white;
        border-radius: 1px;
        border-style: solid;
        border-width: 2px;
        border-color: #E3B873;
    }

    .checkbox_container:hover input ~ .checkbox_custom {
        background-color: #ccc;
    }

    .checkbox_container input:checked ~ .checkbox_custom {
        background: #E3B873;
    }
      
/* Create the checkbox_custom/indicator (hidden when not checked) */
    .checkbox_custom::after {
        content: "";
        position: absolute;
        display: none;
    }
    
/* Show the checkbox_custom when checked */
    .checkbox_container input:checked ~ .checkbox_custom::after {
        display: block;
    }
    
/* Style the checkbox_custom/indicator */
    .checkbox_container .checkbox_custom::after {
        left: 3px;
        top: -1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        /* -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg); */
        transform: rotate(45deg);
    }

    .checkbox_container_black{
        color: #181818;
    }
/*------------------------------------------------------------*/
/* MAIN */
/*------------------------------------------------------------*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* section 1 */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s1{
        background-image: url(../images/s1\ bg.jpg);
        /* background-size: cover; */
        height: 707px;
        /* padding-top: 194px; 
        padding-left: 134px; */
        /*627px 208px */
        position: relative;
    }
    .s1_overlay{
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 194px 627px 208px 134px;
    }
    
    .s1_title_container{ 
        width: 676.11px;
        height: 305px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .s1_title{
            font-size: 40px;
            line-height: 53px;
            /* line-height: 115%; */
            vertical-align: top;
        
            color: #FFFFFF;
        }
        .s1_title_desc{ 
            width: 504px;
            font-weight: 400;
            font-size: 22px;
            line-height: 36px;
            color: white;
        }


    .s1_title_buttons{
        display: flex;
        justify-content: space-between;
        width: 424px;
    }
        .s1_button{
            width: 207px;
            height: 51px;
        }

        .s1_button2{
            border: 1px solid #FFFFFF;
            border-radius: 2px;
            background: transparent;
        }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* section_2 */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s2{
        background: #131313;
        height: 1074px;
    }
    
    .s2_container{
        width: 1171px;
        /* height: 552.28px; */
        /* left: 132px;
        top: 107px; */
        padding: 107px 134px 414px 134px;
    }

        .s2_nav{
            width: 623px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin-left: 492px; 
            padding: 0;
            font-size: 14px;
            Line-height: 19.4px;
        }
        
        .s2_nav_i a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.3);
        }

        .s2_line{
            margin-top: 4.6px;
            background-color: #E3B873;
            width: 193.94px;
            height: 1px;
        }
    
    /*------------------------------------------------------------*/
    /* s2_main */
    /*------------------------------------------------------------*/
    .s2_main{
        margin-left: 0;
        margin-top: 45px;
        display: flex;
        /* margin-left: 134px; */
    }

    .s2_prj{
        /* height: 482px;
        width: 442px;
        margin-right: 50px; */
        display: flex;
        flex-direction: column;
    }


    .s2_title{
        width: 253px;
        height: 66px;
        font-size: 27px;
        line-height: 37.42px;
        /* line-height: 115%; */
        vertical-align: top;
        letter-spacing: -7%;
        margin: 0;
        /* color: #FFFFFF; */
    }

    .s2_i1{
        background-image: url(../images/s2_i1.png);
        height: 482px;
        width: 679px;
        position: absolute;
        margin-left: 492px; 
        background-size: cover;
    }

    .s2_p{
        font-size: 14px;
        line-height: 27px;
        text-align: left;
        vertical-align: top;
        width: 442px;
        height: 86px;
        margin-bottom: 42px;
    }

    .s2_heads{
        display: grid;
        grid-template-columns: 190px 252px;
        grid-template-rows: 107px 107px;
    }
        .s2_heads_i{
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 9px;
        }
        .s2_heads_text{
            font-size: 13px;
            line-height: 21px;
        }
    
    .s2_hidden_prj_nav{
        display: none;
    }
        .s2_hidden_round{
            display: none;
            background: #E3B873;
            border-radius: 50px;
            height: 30px;
            width: 30px;
        }

    .s2_prj_nav{
        width: 205.68px;
        height: 13.28px;
        display: flex;
        justify-content: space-between;
        line-height: 13.28px;
        font-size: 13.28px;
    }
        .s2_arrow{
            height: 13.25px;
            width: 41.43px;
        }
    
        .s2_dots{
            display: flex;
            justify-content: space-between;
            width: 63.78px;
            height: 13.28px;
            align-items: center;
        }
        
        .s2_dot{
            height: 9.57px;
            width:  9.57px;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 30px; 
            border-style: solid;
            border-width: calc(9.57px/2);
            border-color: transparent;
        }

        .s2_dot_selected{
            background-color: rgba(255, 255, 255);
    }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* section_3 */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s3{
        /* background: white; */
        /* height: calc(1466px + 324px); */
        /* height: calc(1074px + 1466px);
        height: calc(1074px + 1466px); */
        margin-top: -324px;
    }

    .s3_main{
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        .s3_div1{
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
            .s3_title_image{
                margin-top: 12.79px;
                margin-bottom: 31px;
                display: flex;
                align-items: center;
                
            }
                .s3_v_camera{
                    margin-left: 9.47px;
                    margin-right: 7.46px;
                }

            .s3_video{
                margin-bottom: 62.5px; 
                /* height: 434px;
                width: 817px; */
                display: flex;
                /* justify-content: center; */
                align-items: center;
                flex-direction: column;
            }
                .s3_i1{
                    /* filter: grayscale(80%); */
                    height: 434px;
                    width: 817px;
                    background-image: url(../images/s3_i1.png);
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* filter: brightness(20%); */
                    z-index:2;
                    position: relative;
                }
                .s3_i1::before{
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.8);
                    z-index: 2;
                }
                    .s3_button_play{
                        width: 85px;
                        height: 85px;
                        background-color:#E3B873;
                        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
                        border-radius: 50px;
                        border-width: 0;
                        /* margin-top: calc(((434px/2) + (85px/2))*(-1)); */
                        z-index: 3;
                    }
                        .s3_play{
                            height: 28px;
                            width: 28px;
                            font-size: 28px;
                            /* transform: rotate(45deg); */
                            /* margin-top: calc(((28px/2) + (85px/2))*(-1));
                            margin-left: calc((28px - 22.61px));*/
                            z-index: 3;
                        }
            
            .s3_hr{
                margin:0;
            }

            /* .s3_rectangle{
                border-radius: 30px;
                size: 10.54px;
                width: 55px;
                color : #E3B873;
            } */
            
            .s3_p{
                Width: 681px;
                Height: 130.91px;
                font-size: 18px;
                line-height: 37px;
                text-align: center;
                margin-bottom: 91.5px;

                color: #363636;
            }

            .s3_form{
                width: 769px;
                height: calc(51px + 18px + 35px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 75.85px;
                z-index: 2;
                position: relative;
            }   
                .s3_form_inputs{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 35px;
                    position: relative;
                }
                    /* .s3_input1{
                        width: calc(231px - 122.2px - 4px);
                    } */
                    .s3_input2{
                        width: calc(231px - 126.16px - 4px);
                        background-color: transparent;
                    }

                    .s3_label1{
                        font-size: 13px;
                        line-height: 21px;
                        color: rgba(54, 54, 54, 0.5);
                        /* display: block; */
                    }
                        .s3_label1_span{
                            font-size: 14px;
                            line-height: 23px;
                            color: #363636;
                        }
                    .s3_rectangle{
                        width: 231px;
                        border: 1px solid rgba(54, 54, 54, 0.3);
                        transform: matrix(1, 0, 0, -1, 0, 0);
                    }

                    .s3_button{
                        width: 200px;
                        height: 51px;
                        font-size: 13px;
                        line-height: 27px;
                        font-style: normal;
                    }
                
                .s3_check_div{
                    display: flex;
                    justify-content: center;
                    height: 18px;
                }
                    .s3_check{
                        width: 18px;
                        height: 18px;
                        margin: 0 8.62px 0 0;
                        /* color: #E3B873;
                        accent-color: #9b59b6;
                        background: #E3B873;
                        border-radius: 1px; */
                        /* filter: invert(100%) hue-rotate(18deg) brightness(1.2); */
                    }
                    .s3_label2{
                        font-size: 14px;
                        line-height: 163.68%;
                        color: #181818;
                        height: 16.24px;
                    }
            /* end s3_form */

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* section_3-1 */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
        .s3_types{
            width: 257px;
            height: 67px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            line-height: 28px;
            color: #181818;
            margin-bottom: 31px;
        }
            .s3_types_img{
                display: flex;
                justify-content: space-between;
                width: 114px;
            }
                .s3_ul_line {
                    margin-top: 14px;
                    background-color: #E3B873;
                    width: 32px;
                    height: 1.54px;
                }
                .s3_types_title{
                    margin-bottom: 13px;
                }
        
        .s3_view{
            height: 608px;
            width: 1236px;
            display: flex;
            justify-content: space-between;
        }
            .s3_view_block{
                height: calc(421px + 159px + 54px);
                width: 392px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }   
                .s3_view_img{
                    height: 421px;
                    width: 392px;
                    background-size: contain;
                    /* background-size: cover; */
                }

                .s3_view_img1{
                    background-image: url("../images/s3_view_1.jpg");
                }  
                .s3_view_img2{
                    background-image: url("../images/s3_view_2.jpg");
                }  
                .s3_view_img3{
                    background-image: url("../images/s3_view_3.jpg");
                }  
                .s3_view_block_li{
                    height: 286px;
                    width: 330px;
                    background: #FFFFFF;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
                    margin-top: calc(-286px + 159px);
                    display: flex;
                    flex-direction: column;
                    padding-top: 25px;
                    padding-left: 31px;
                    /* justify-content: center; */
                }
                    .s3_ul_title{
                        font-size: 18px;
                        line-height: 25px;
                        color: #363636;
                    }
                    .s3_ul_div{
                        padding: 0;
                    }
                        .s3_ul{
                            padding-inline-start: 20px;
                            margin-top: 13px;
                            margin-bottom: 23px;
                            height: 178px;
                            width: 267px;
                            /* padding-inline-start: 0px; */
                        }
                            .s3_ul_li{
                                font-size: 13px;
                                line-height: 26.6px;
                                color: #959595;
                            }
                .s3_view_button{
                    height: 54px;
                    width: 228px;
                    /* left: 132px; */
                    font-size: 18px;
                    line-height: 25px;
                    margin-left: 32px;
                    margin-top: calc(28px - 54px);
                    /* justify-self: flex-start; */
                    align-self: start;
                    z-index: 1;
                }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* section_4 */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s4{
        background: white;
        height: 3979px;
        height: 920.53px;
    }
        .s4_b1{
            display: flex;
            flex-direction: column;
        }
            .s4_b1_main{
                display: flex;

            }
                .s4_i1{
                    /* margin-top: -47px; */
                    /* margin-left: -303px; */
                    height: 703px;
                    width: 798px;
                    margin-left: 0;
                }
                .s4_b1_desc{
                    width: calc(378.81px + 8px*2);
                    height: 473.62px;
                    /* margin-top: 70.14px; */
                    /* margin-left: calc((-1)*(378.81px + 75.19px)); */
                    margin: 70.14px 206.19px 0 calc((-1)*(378.81px + 75.19px));
                }
                    
                    .s4_ul{
                        height: 473.62px;
                        width: calc(378.81px + 8px*2);
                        /* calc(320px + 41.76px + 2*8px + 8px + 17.05px); */
                        padding-inline-start: 0px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: -8px;
                    }
                        .s4_ul_li{
                            font-size: 14px;
                            line-height: 19px;
                            height: 39px;
                            width: calc(378.81px + 8px*2);
                            /* calc(320px + 41.76px + 2*8px + 8px + 17.05px); */
                            display: flex;
                            align-items: center;
                            color: #363636;
                        }
                        .s4_ul_li::before{
                            content: "01";
                            height: calc(41.76px + 2*8px);
                            width:  calc(41.76px + 2*8px);

                            background: #E3B873;
                            box-sizing: border-box;
                            border: 8px solid #FFFFFF;
                            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
                            border-radius: 30px;

                            font-family: 'Yeseva One';
                            color: white;
                            font-size: 18px;
                            line-height: 25px;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: calc(17.05px - 8px);
                        }
                        .s4_ul_li_2::before{
                            content: "02";
                        }
                        .s4_ul_li_3::before{
                            content: "03";
                        }
                        /* .s4_ul_li_4::before{
                            content: "04";
                        } */

                        /* можно ли использовать просто для стилизации? */
                        .s4_ul_li[aria-current="4"]::before{
                            content: "04";
                        }

                    .s4_b1_black{
                        margin-top: 59px;
                        height: 509px;
                        width:  506px;
                        background: #131313;
                        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);

                        padding: 28px 49px 27px 49px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                        .s4_b1_black_title{
                            font-size: 18px;
                            line-height: 26px;
                            text-align: center;
                            Width: 297px;
                            Height: 47px;
                            margin-bottom: 39px;
                            /* align-self: center; */
                        }
                        .s4_b1_black_form{
                            Width: 408px;
                            Height:244px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        }
                            .s3_input1{
                                width: auto;
                                background-color: transparent;
                            }
                                .s4_label{
                                    font-size: 13px;
                                    line-height: 21px;
                                    color: rgba(255, 255, 255, 0.5);
                                    height: 49px;
                                }
                                    .s4_label_span{
                                        margin-top: 7px;
                                        font-size: 14px;
                                        line-height: 23px;
                                        color: white;
                                        
                                    }
                                    
                                    .s4_rectangle{
                                        width: 408px;
                                        border: 1px solid transparent;
                                        background-color : rgba(255, 255, 255, 0.15);
                                        /* color: rgba(255, 255, 255, 0.15) */
                                        /* background-color: */
                                    }

                        .s4_check_div{
                            margin-top: 16px;
                            margin-bottom: 39px;
                            display: flex;
                            justify-content: center;
                            align-self: start;
                        }
                            .s4_check{
                                width: 18px;
                                height: 18px;
                                margin: 0 8.62px 0 0;
                                /* color: #E3B873;
                                accent-color: #9b59b6;
                                background: #E3B873;
                                border-radius: 1px; */
                                /* filter: invert(100%) hue-rotate(18deg) brightness(1.2); */
                            }
                            .s4_label2{
                                font-size: 14px;
                                line-height: 163.68%;
                                color: white;
                                height: 16.24px;
                            }

                        .s4_button{
                            height: 51px;
                            width: 213px;
                            font-size: 13px;
                            line-height: 21px;
                            /* margin-left: 32px;
                            margin-top: calc(28px - 54px); */
                            align-self: flex-end;
                            z-index: 1;
                        }
            .s4_pig_container{
                align-self: flex-end;
                display: flex;
            }
                .s4_pig_round{
                    background: #E3B873;
                    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
                    margin: 8.44px 25px 0 0;
                    border-radius: 50px;
                    z-index: 1;
                    /* padding: 19.48px 16px; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 76px;
                    height: 76px;
                }
                    .s4_pig{
                        height: 33.04px;
                        width: 40px;
                    }
                .s4_pig_desc{
                    font-size: 18px;
                    line-height: 26px;
                    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
                    Width: 344px;
                    Height: 47px;
                    align-self: center;
                    margin-right: 132.5px;
                }
            /* s4_pig */
        /* s4_b1 */
    /* s4 */

    .s5{
        height: 864px;
        background-image: url(../images/s5_bg.png);
        background-size: cover;
        z-index: 1;
        position: relative;
        display: flex;
    }
    .s5::before{
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        position: absolute;
        background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    }
        .s5_container{
            z-index: 1;
            /* padding-top: 137.47px; */
            display: flex;
        }
            .s5_col1{
                margin: 137.47px 77px 0 99px;
            }
                .s5_col1_title{
                    font-size: 27px;
                    line-height: 37px;
                    width: 411px;
                    height: 66px;
                    margin-bottom: 47px;
                }
                .s5_ul{
                    list-style: none;
                    padding: 0;
                }
                    .s5_ul_li{
                        margin-bottom: 25px;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 38px;
                        height: 24px;
                        position: relative;
                    }
                        /* .s5_ul_li{
                            text-decoration: none; */
                        /* } */
                        .s5_ul_li_selected{
                            color: #E3B873;
                            /* text-decoration: underline; */
                            text-decoration: none;
                        }
                        .s5_ul_li_selected::after{
                            background-color: #E3B873;
                            
                            content: "";
                            bottom: -10.17px;
                            left: 0;
                            margin: 0;
                            position: absolute;
                            height: 0.66px;
                            width: 146.23px;
                            border-width: 0;
                            border-color: #E3B873;
                            border-radius: 30px;
                            border-style: solid;
                        }
                        .s5_ul_li_def{
                            color: white;
                            text-decoration: none;
                        }
                    /* s5_ul_li */
                /* s5_ul */
            /* s5_col1 */
            .s5_col2{
                margin: 0;
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 354px);
                column-gap: 43px;
                grid-template-rows: 557px 275px;
                row-gap: 39.1px;
                /* position: relative; */
            }
            
                .s5_grid0{
                    /* top: - 41.16px; */
                    /* position: absolute; */
                    margin-top: -41.16px;
                }

                .s5_grid1{
                    /* position: absolute; */
                    margin-top: -112.53px;
                }

                .s5_grid2{
                    /* position: absolute; */
                    margin-top: -41.16px;
                }
                .s5_grid3{
                    /* position: absolute; */
                    margin-top: calc(-112.53px - (557px - 275px));
                }
            /* s5_col2 */
            
            .s5_grid0_hidden{
                display: none;
            }
        /* s5_container */
    /* s5 */
    .s6{
        height: calc(1107.11px - 110.47px);
        background-color: white;
        position: relative;
    }
        .s6_title{
            font-size: 20px;
            line-height: 28px;
            color: #181818;
            text-align: center;
            margin-top: 110.47px;
            margin-bottom: 13.5px;
        }
        .s6_title_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24.16px;
        }
            .s6_title_icon_main{
                height: 27.62px;
                width: 114px;
            }

        .s6_title_desc{
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            color: #363636;
            margin-bottom: 39px;
        }
        .s6_customers{
            height: 455.03497314453125px;
            width: 1236px;
            margin: 0 101px 0 103px;
            display: flex;
            justify-content: space-between;
        }
            .s6_client{
                height: 455px;
                width: 376px;
                position: relative;
                margin-top: 24px;
            }
                .s6_client_info{
                    /* height: 455px; */
                    width: 376px;
                    display: flex;
                    margin-bottom: 22px;
                }
                    .s6_client_photo{
                        width: 76px;
                        height: 76px;
                        margin: 0 23px 0 20px;
                        position: relative;
                    }
                        .s6_client_photo::after{
                            content: "";
                            top:    -20px;
                            left:   -20px;
                            /* right:  -10px; */
                            /* bottom: -10px; */
                            width:  calc(76px);
                            height: calc(76px);
                            border-radius: 150px;
                            border-style: solid;
                            border-width: 20px;
                            /* box-sizing: border-box; */
                            /* background-color: rgb(255, 0, 0); */
                            z-index: 10;
                            position: absolute;
                        }
                    .s6_client_name{
                        font-size: 18px;
                        line-height: 23px;
                        color: #181818;
                        align-self: center;
                    }
                /* s6_client_info */

                .s6_client_review{
                    margin-left: 20px;
                    margin-right: 31.92px;
                    font-size: 13px;
                    line-height: 180%;
                    color: #959595;
                    height: 239px;
                    width: 324px;
                    margin-bottom: 40px;
                }

                .s6_client_rectangle{
                    height: 54px;
                    width: 293.75px;
                    background: #E3B873;
                    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
                    padding: 11px 0 11.66px 17.36px;
                    display: flex;
                    align-items: center;
                    /* position:absolute;
                    bottom: 0; */
                }
                    .s6_client_rectangle_svg{
                        height: 31.34px;
                        width: 32.34px;
                    }
                    .s6_client_rectangle_desc{
                        font-size: 17px;
                        line-height: 24px;
                    }
                    .s6_client_margin1{
                        margin-right: 15.39px;
                    }
                    .s6_client_margin2{
                        margin-right: 13.99px;
                    }
                    .s6_client_rectangle_line{
                        height: 55.03px;
                        width: 0.75px;
                        background-color: white;
                        /* border: 0.75px solid #FFFFFF; */
                    }
                    .s6_client_margin3{
                        margin-right: 17.26px;
                    }

                    .s6_client_margin4{
                        margin-right: 15.02px;
                    }
                /* s6_clien_rectangle */
            /* s6_client */
        /* s6_customers */
        .s6_bg{
            display:flex;
            position: absolute;
            /* bottom: 0; */
            /* margin-top: 347.79px; */
            top: calc(347.79px - 110.47px);
        }
            .s6_bg1{
                /* position: absolute; */
                margin-left: -9px;
            }
            .s6_bg2{
                transform: rotateY(3.142rad);
                /* position: absolute; */
                /* margin-right: -50px; */
            }

    /* s6 */
    .s7{
        /* z-index: 1; */
        height: calc(953.9px);
        background-image: url(../images/s7_bg.png);
        position: relative;
    }
    .s7::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    }
        .s7_container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .s7_form{
                height: 445.32px;
                width: 883px;
                background: #181818;
                margin-top: -222.66px;
                z-index: 1;
                position: relative;
                padding: 34.4px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 2;
            }
                .s7_form_title{
                    font-size: 20px;
                    line-height: 28px;
                    text-align: center;
                    margin-bottom: 45.8px;
                }
                .s7_form_main{
                    height: 304.71px;
                    width: 520px;
                }
                    .s7_form_info{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 48.76px;
                    }
                        .s7_form_rectangle1{
                            height: 1px;
                            width: 231px;
                            background: rgba(255, 255, 255, 0.15);
                            transform: matrix(1, 0, 0, -1, 0, 0);
                        }
                    .s7_form_q{
                        margin-bottom: 46.46px;
                    }
                        .s7_input{
                            width: calc(516.82px - 96.52px - 4px);
                            background-color: transparent;
                        }
                        .s7_form_rectangle2{
                            height: 1px;
                            width: 516.82px;
                            background: rgba(255, 255, 255, 0.15);
                            transform: matrix(1, 0, 0, -1, 0, 0);
                        }
                        .s7_form_label{
                            font-size: 14px;
                            line-height: 163.68%;
                            color: white;
                            height: 16.24px;
                        }
                        
                    .s7_button{
                        border-radius: 0px;
                        border: 0px;
                        background: #E3B873;
                        box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
                    }
            .s7_bg{
                margin-top: -222.66px;
                height: 953.9px;
                width: 1440px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                .s7_bg_title{
                    margin: 274.76px 0 26px 0;
                    font-size: 20px;
                    line-height: 28px;
                    z-index: 2;
                    text-align: center;
                    color: #E3B873;
                }
                .s7_links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 71px;
                    height: 28px;
                    margin-bottom: 43.29px;
                    z-index: 2;
                }   
                    .s7_link{
                        position: relative;
                        z-index: 3;
                        background-color: #E3B873;
                        width: 28px;
                        height: 28px;
                        border-radius: 30px;
                        border-width: 0;
                        border-style: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                .s7_bg_i1{
                    z-index: 2;
                }
