@media screen and (width <= 1300px) {

    /* header, footer */
        .container_nav{
            width: calc(80vw - 20px);
        }
        
        .nav_main{
            /* width: 80%; */
            display: none;
        }

        /* disable button for header */
        .s0_button{
            display: none;
        }
        .number{
            color: white;
        }
        
        footer{
            display: none;
        }
        /* disable button for footer */
        input[type="button"].s0_button{
            display: none;
        }
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s1 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
        .s1{
            height: 476px;
            width: 375px;
        }
            /* .s1_overlay{
            } */
                .s1_title_container{
                    height: 476px;
                    padding: 85px 18px 61px 18px;
                    width: 375px;
                }
                    .s1_title{
                        font-size: 23px;
                        line-height: 132.83%;
                    }
                    .s1_title_desc{
                        width: 339px;
                        font-size: 14px;
                        line-height: 135.84%;
                    }
                    .s1_title_buttons{
                        height: calc(51px * 2 + 26px);
                        width: auto;
                        flex-direction: column;
                    }   
                        .s1_button{
                            width: 338.6px;
                            /* margin-bottom: 26px; */
                        }
                        .s1_button2_span{
                            display: none;
                            width: 0px;
                        }
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s2 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s2{
        height: auto;
    }
        .s2_container{
            width: auto;
            /* height: 552.28px; */
            /* left: 132px;
            top: 107px; */
            padding: 36px 17px 36px 18px;
            height: auto;
            height: 727px;
        }
            
                .s2_nav{
                    display: none;
                }
            
            .s2_main{
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                .s2_prj_all{
                    height: 727px;
                }
                    .s2_prj{
                        flex-direction: column;
                        align-items: center;
                    }
                        .s2_title{
                            font-size: 22px;
                            line-height: 138.6%;
                            text-align: center;
                            /* letter-spacing: -0.07em; */
                        }
                        .s2_p{
                            height:106.95px;
                            width: 311px;
                            font-size: 11px;
                            line-height: 158.48%;
                            text-align: center;
                            margin-bottom: 36px;
                        }
                    
                        .s2_hidden_prj_nav{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 14px;
                            position: relative;
                            margin-left: 0; 
                            height: 241.35px;
                            width: 340px; 
                            background-image: url(../images/s2_i2.png);
                            margin-bottom: 36.65px;
                        }
                            .s2_hidden_round{
                                display: block;
                                width:  36px;
                                height: 36px;
                                border-radius: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-width: 0;
                            }

                        .s2_heads{
                            height: calc(107px * 2);
                            width: 341px;
                            grid-template-columns: 160px 160px;
                            grid-template-rows: calc(37px + 11px + 20px + 27px) calc(37px + 11px + 20px);
                        }
                            .s2_heads_i{
                                font-size: 14px;
                                line-height: 138.6%;
                            }
                            .s2_heads_text{
                                font-size: 11px;
                                line-height: 135.84%;
                            }
                        .s2_prj_nav{
                            display: none;
                        }

                .s2_i1{
                    display: none;             
                }
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s3 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s3{
        margin: 0;
        /* margin-top: -1px; */
        height: 840px;
        background: #131313;
    }
        .s3_video{
            margin-bottom: 28px; 
        }
        .s3_hr{
            margin-bottom: 21.46px;
        }
        .s3_i1{
            /* filter: grayscale(80%); */
            height: 207px;
            width: 340px;
        }
            .s3_button_play{
                width:  37px;
                height: 37px;
            }
                .s3_play{
                    height: 12.19px;
                    width:  12.19px;                
                }
        .s3_p{
            height: 106.95px;
            width: 340px;
            font-size: 11px;
            line-height: 169.8%;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 61.05px;
            color: #FFFFFF;
        }
        
        .s3_form{
            width: 340px;
            height: 311px;
            flex-direction: column;
            justify-content: space-between;
            /* display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 75.85px;
            z-index: 2; */
        }   
            .s3_form_inputs{
                width: 340px;
                height: 311px;
                display: block;
            }  
                .s3_form_inputs_1{
                    margin-bottom: 63px;
                }
                .s3_form_inputs_2{
                    margin-bottom: 106.96px;
                }
                .s3_hidden_color{
                    color: white;
                }
                .s3_hidden_color2{
                    color: rgba(255, 255, 255, 0.5);
                }
                    .input_placeholder_black{
                        color:white;
                    }
                    .input_placeholder_black::placeholder {
                        color:white;
                    }

                .s3_rectangle{
                    width: 340px;
                    background: #FFFFFF;
                    border: 1px solid rgba(54, 54, 54, 0.3);
                }

                .s3_button{
                    width: 340px;
                }

                .s3_check_div{
                    position: absolute;
                    bottom: 88.43px;
                }
                
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s3-1 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s3-1{
        margin: 0;
        /* margin-top: -1px; */
        height: 2030px;
    }
        .s3_types{
            margin-top: 83px;
        }
        .s3_view{
            width: 375px;
            flex-direction: column;
            justify-content: space-between;
            /* justify-items: flex-start; */
            align-items: flex-start;
            padding: 0 18px;
        }
            .s3_view_block{
                align-items: flex-start;
                height: 484px;
                width: auto;
                margin-bottom: 59px;
            }   
                .s3_view_block_li{
                    padding-top: 21px;
                    height: 241px;
                    width: 270px;                    
                }
                .s3_ul{
                    margin-top: 10px;
                }
                    .s3_ul_li{
                        line-height: 169.8%;
                    }
                .s3_view_button{
                    margin-left: 0;
                }
                .s3_view_img{
                    height: 365.15px;
                    width: 340px;
                }   
                .s3_view_img2{
                    background-image: url("../images/s3_view_2-2.jpg");
                }   
                .s3_view_block_li{
                    margin-top: calc(-365.15px + 223px);
                    margin-top: calc(-365.15px + 223px);
                }
                .s3_input1{
                    width: 340px;
                    background-color: transparent;
                }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s4 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s4{
        display: none;
    }
    
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s5 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s5{
        background-image: none;
        margin-top: calc(-145px - 66px);
        height: auto;
        z-index: 2;
    }
    .s5::before{
        content: none;
    }
        .s5_container{
            display: block;
        }
            .s5_col1{
                margin: 0;
            }
            .s5_col1_title{
                font-size: 22px;
                line-height: 138.6%;
                text-align: center;
                width: 340px;
                margin-bottom: 24px;
            }
                .s5_ul{
                    display: none;
                }
        
            .s5_col2{
                display: none;
            }
                
        .s5_grid0_hidden{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 14px;
            background-image: url(../images/s5_grid0-1.jpg);
            height: 242px;
            width: 340px;
        }
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s6 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s6{
        display: none;
    }
    
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* s7 */
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .s7{
        background-image: none;
        height: calc(1074px + 121px);
        width: 375px;
        position: relative;
    }
    .s7::before{
        background: #131313;
        margin-top: -121px;
    }
        .s7_container{
            height: auto;
        }
        .s7_form{
            margin-top: 0;
            height: auto;
            width:  375px;
            padding: 52px 18px 0 18px;
            position: relative;
        }
            .s7_form_main{
                width: 340px;
                height: 419px;
            }
            .s7_form_info{
                flex-direction: column;
                height: calc(45px + 107px);
                column-gap: 63px;
                margin-bottom: 63px;
            }
            .s7_form_q{
                margin-bottom: 21.63px;
            }
                .s7_input{
                    width: 340px;
                    background-color: transparent;
                }
                .s7_form_rectangle1{
                    width: 340px;
                }
                .s7_form_rectangle2{
                    width: 340px;
                }
                .s7_check_div{
                    justify-content: flex-start;
                    position: inherit;
                }

        .s7_bg{
            height: auto;
            width: 375px;
            margin: 0;
        }
        .s7_bg_title{
            height: 70.56px;
            width: 340px;
            font-size: 18px;
            line-height: 138.6%;
            text-align: center;
            bottom: 111.65px;
            position: absolute;
            margin-bottom: 0;
        }

        .s7_links{
            position: absolute;
            bottom: 49px;
            margin-bottom: 0;
        }   
        .s7_bg_i1{
            position: relative;
            margin-top: 46px;
            height: 255px;
            width: 340px;
        }

        .hidden{
            display: block;
        }
        .hidden_MOB{
            display: none;
        }

}